<div>
    <button mat-raised-button color="primary" (click)="addStudent()" >
        <mat-icon>add-box</mat-icon>
        Thêm sinh viên
    </button>
    <table id="customers" style="border-collapse: collapse;">
        <tr>
            <th>Hành động</th>
            <th>Id</th>
            <th>Mã sinh viên</th>
            <th>Giới tính</th>
            <th>Tên</th>
            <th>Họ</th>
            <th>Email</th>
            <th>Điện thoại</th>
            <th>Hình Ảnh</th>
        </tr>
        <tr *ngFor="let student of students">
            <td><mat-icon style="cursor: pointer" title="Nhấn vào để xóa" (click)="deleteStudent(student.code)">clear</mat-icon>
                &nbsp;
                <mat-icon style="cursor: pointer" title="Nhấn vào để sửa" (click)="editStudent(student.id)">create</mat-icon>
            </td>
            <td>{{ student.id}}</td>
            <td>{{ student.code }}</td>
            <td>{{ student.gender}}</td>
            <td>{{ student.firstName}}</td>
            <td>{{ student.lastName}}</td>
            <td>{{ student.email}}</td>
            <td>{{ student.phone}}</td>
            <td>{{ student.picture}}</td>
        </tr>
    </table>
</div>
